@CHARSET "UTF-8";
/*------------------------------------------------------
				↓共通↓
--------------------------------------------------------*/

/* クリア */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
html {
  min-height: 100%;
  position: relative;
}

img{
	width: 200px;
	height: 200px;
}
body{
	margin-bottom: 100px;
	height: 100%;
}

.main{
	width: 95%;
	margin: 0 auto;
}

/*------------------------------------------------------
				↓トップメッセージ↓
--------------------------------------------------------*/
.title {
    text-align: center;
    font-size: 2rem;
    margin: 40px 0 20px;
}

.message{
	text-align: center;
    font-size: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*------------------------------------------------------

				カート内容

--------------------------------------------------------*/
.cart_info{
	width: 95%;
    height: 286px;
    margin: 0 auto;
    border: solid 1px;
}




.pro_img{
	float: left;
	padding-top: 20px;
    padding-left: 10px;
}

.delete{
	float: right;
}
/*------------------------------------------------------
		合計金額とリンク
--------------------------------------------------------*/
.totalprice{
	margin-top: 30px;
	text-align: center;
	margin: 20px;
}

.settlement_btn{
	margin-top: 30px;
	text-align: center;
	margin: 20px;
}

/*------------------------------------------------------

--------------------------------------------------------*/
