@CHARSET "UTF-8";
/*------------------------------------------------------
				↓共通↓
--------------------------------------------------------*/

* クリア */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}


img{
	width: 200px;
	height: 200px;
	vertical-align:bottom;
	display: block;
	margin: 0 auto;
	padding: 0;
}

body{
	width: 95%;
}

/*------------------------------------------------------
				↓トップメッセージ↓
--------------------------------------------------------*/
.title {
    text-align: center;
    font-size: 2rem;
    margin: 40px 0 20px;
}

.message{
	text-align: center;
    font-size: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*------------------------------------------------------

				カート内容

--------------------------------------------------------*/
.pro_img{
	float: left;
}


/*------------------------------------------------------

--------------------------------------------------------*/




/*------------------------------------------------------

--------------------------------------------------------*/
