@charset "UTF-8";

/* クリア */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
html {
  min-height: 100%;
  position: relative;
}

img{
	width: 300px;
	height: 300px;
}
body{
	margin-bottom: 100px;
	height: 100%;
}


/*--------------------------------------------------
					メイン
---------------------------------------------------*/
.main{
	width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: 100px;
}
.title{
	margin-top: 10px;
	position:absolute;
	top: 197px;
    left: 80px;
}

.top{
	font-size: 30px;
}
h2{
	height: 186px;
    text-align: center;
    font-size: 30px;
    background: url(/cherry/img/signboard.png) no-repeat;
    background-size: 409px;
    padding-top: 160px;
    background-position: 50% -78px;
    animation: font infinite linear 2s;
}

@keyframes font
{
	0%{font-size:30px;}
	100%{font-size:50px;}
}





.all_delete{
	text-align: center;
}

.back{
	text-align: center;
	margin: 20px;
}


/*----------------移植CSS--------------------------------------*/
.main_content {
    width: 95%;
    height: 330px;
    margin: 0 auto;
}

.date{
    border-top:solid 1px;
    border-bottom: solid 1px;
    padding: 20px;
    line-height: 20px;
    background: #F48FB1;
    color: #fff;


}
.date p{
    height: 25px;
}
/*---------------------------------
            画像
----------------------------------*/
.pro_image{
    width: 300px;
    height: 300px;
    float: left;
    padding-right: 50px;
    padding-top: 20px;
}
/*---------------------------------
            名前
----------------------------------*/
.name{
    padding-top: 10px;

}
.pro_kana{

}

.pro_name{

}
/*---------------------------------
            値段と個数
----------------------------------*/
.price_count{
    padding: 20px;

}
.price{

}

.count{

}
/*---------------------------------
            会社
----------------------------------*/
.company{

}

.release_date{

}
/*---------------------------------
            削除ボタン
----------------------------------*/
.delete{
    float: right;

	position: relative;
    display: inline-block;
    font-weight: bold;
   /*  padding: 0.25em 0.5em; */
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
}


#deletePart:hover{
	 background: #00bcd4;
    color: white;
}

/*----------------移植CSSここまで--------------------------------------*/

