@CHARSET "UTF-8";
/* クリア */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/*-------------------------------------
	メインコンテンツ
-------------------------------------*/


.main{
	width: 100%;
	height: 500px;
    vertical-align:-50%;

}

.secRegist{
	width:780px;
	margin:0;
	padding:0;
}
.sectionInner{
	width:600px;
	margin-right:auto;
	margin-left:auto;

}
.sectionHeader{
	width: 133px;
    height: 39px;
    margin: 10px 0 10px 0;
    text-align: center;
    font-weight: bold;
    background: #ffefcc;
    box-shadow: 0px 0px 0px 5px#ffefcc;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    margin: 30px 0px 30px 200px;


}
.sectionHeader h3{
    text-align: center;
    margin:0 auto;
    line-height:50px;
}
.contBody{
		width:582px;
}
.message{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.submit{
	width:100%;
	margin:20px 60px 0 60px;
}

/*-------------------------------------
	table
-------------------------------------*/

table{
    width: 550px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
}

table th,table td {
    padding: 10px;
    padding-left: 30px;
}

table th {
    background: #ffefcc;
    vertical-align: middle;
    text-align: left;
    width: 120px;
    overflow: visible;
    position: relative;
    color: #4d4545;
    font-weight: normal;
    font-size: 15px;
}

table th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color:rgba(255,239,204,0);
    border-left-color:  #ffefcc;
    border-width: 10px;
    margin-top: -10px;
}
td{
	font-size: 13px;
	background:#f8f8f8;
	border-width: 0.3px;
}
td.change{
	text-align: right;
}


/*-------------------------------------
	button
-------------------------------------*/

.btnn {
    display: inline-block;
    float: left;
    text-decoration: underline;
    /* color: chocolate; */
    width: 176px;
    height: 27px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    /* overflow: hidden; */
    background-image: -webkit-linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    transition: .4s;

}

.btnn:hover{
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
/*.btnn {
  width:120px;
  position: relative;
  z-index: 2;
  border: 2px solid #333;
  color: #fff;
  line-height: 50px;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
*/
.bttn a{
	  color:gray;
	  background:url(/cherry/img/logo.png) no-repeat;
}

/*.btnn:hover {
  color: #333;
}

.btnn::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}

.btnn:hover::after {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
*/
/*-------------------------------------
	マウスオン
-------------------------------------*/

a:hover img{opacity:0.8; filter:alpha(opacity=80);}



<!-- フッター -->
<jsp:include page="include_footer.jsp" />


<!--complete-->

.top{

}


