@CHARSET "UTF-8";
/* クリア */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* ヘッダー */
header{
	background: #F48FB1;
}

header .wrap{
	width: 1000px;
	overflow: hidden;
    margin: 0 auto;
    position: relative;
}

 header ul,
 header li,
 header form,
 header a.logo{
	float: left;
}

header form{
	width: 100%;
	position: relative;

}

header input{
    width: 100%;
    height: 36px;
    padding-left: 5px;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

header form button{
	position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    cursor: pointer;
}



header a.logo{
    padding: 12px 0 12px 60px;
    font-size: 2.5rem;
    color: #fff;
}

header ul{
    margin-left: 389px;
}

header li{
	margin: 20px 0 20px 40px;
	margin-top: 20px;
	font-weight: bold;
	font-size: 1.1rem;
	position: relative;

}


header li a{
	color: #fff;
	transition: 0.4s;
}

header li a:hover{
	color: #FFEB3B;
}

header li a i{
	vertical-align: -5px;
	margin-right: 5px;
}


/*-------------------------------------
	メインコンテンツ
-------------------------------------*/


.main{
	width: 100%;
	height: 500px;
    vertical-align:-50%;
}

.secRegist{
	width:780px;
	margin:0;
	padding:0;
}
.sectionInner{
	width:600px;
	margin-right:auto;
	margin-left:auto;

}
.sectionHeader{
	width:582px;
	height:39px;
	margin:10px 0 10px 0;
    text-align: center;
    font-weight: bold;

}
.sectionHeader h3{
    text-align: center;
    margin:0 auto;
    line-height:50px;

}
.contBody{
		width:582px;
}


/*-------------------------------------
	table
-------------------------------------*/

table{
    width: 550px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
}

table th,table td {
    padding: 10px;
    padding-left: 30px;
}

table th {
    background: #ffefcc;
    vertical-align: middle;
    text-align: left;
    width: 120px;
    overflow: visible;
    position: relative;
    color: #4d4545;
    font-weight: normal;
    font-size: 15px;
}

table th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color:rgba(255,239,204,0);
    border-left-color:  #ffefcc;
    border-width: 10px;
    margin-top: -10px;
}
td{
	font-size: 13px;
	background:#f8f8f8;
	border-width: 0.3px;
}
td.change{
	text-align: right;
}


/*-------------------------------------
	button
-------------------------------------*/

.btnn{
	margin-top:60px;
	margin-left: 239px;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #353535;
    border: double 2px#ffefcc;
    border-radius: 2px;
    transition: .4s;
    width:97px;

    }
/*-------------------------------------
	マウスオン
-------------------------------------*/

a:hover img{opacity:0.8; filter:alpha(opacity=80);}



<!-- フッター -->
<jsp:include page="include_footer.jsp" />


<!--complete-->

.top{

}


