@charset "UTF-8";

/* クリア */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}



/* メインコンテンツ */
.main{
	width: 100%;
	height: 600px;
    text-align: center;
    vertical-align:-50%;
}


.title{
	width: 471px;
    margin: auto;
    font-size: 20px;
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 10px #f48fb1;
}

.error{
	font-weight:bold;
	font-size:17px;
}

.member_form{
	width:450px;
	padding:25px 25px 40px 25px;
	margin:auto;
	background: #f48fb12b;
}

.member_form_title{
    padding-left: 12px;
}

.member_form p{
	font-size:14px;
	padding-left:15px;
}

.member_form a{
	color:#e91e63;
	font-size: 14px;
    padding-left: 223px;
}

.member_form_radio{
	margin: 14px;
}

.nomember{
	width:480px;
	margin:auto;
	font-size:16px;

}

.nomember_btn a{
	color:#e91e63;
	margin-top:3px;
}

input#LoginForm_userId,input#LoginForm_password,input#userRegister_familyName,input#userRegister_firstName,input#userRegister_familyNameKana,input#userRegister_firstNameKana,input#userRegister_userId,input#userRegister_password,input#userRegister_email{
	width: 400px;
    margin: 9px;
    border: none;
    padding: 16px;
    max-width: 400px;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 0px 20px #f8bbd0a1;
    height: 0;
}


.kan{
	font-size:50px;
	font-weight:bold;
	padding: 58px 0 8px 0;
}
.member_btn button{
	border: none;
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #f48fb1;
    transition: .4s;
    width: 433px;
    height: 36px;
    margin-left: 10px;
}
.member_btn button>span{
	border-bottom: solid 2px #FFF;
}
.member_btn button:hover {
    background: #ec407aba;
}

.hissu{
	font-size: 13px;
    background-color: red;
    width: 30px;
    text-align: center;
    padding-left: 3px;
    padding-right: 4px;
    color: white;
    border-radius: 4px;
    height: 10px;
    margin-left: 7px;
}

/* フッター */
footer{
	background: #F48FB1;
	clear: both;
	text-align: center;
	height: 100px;
	line-height: 100px;
	margin-top: 100px;
	color: #fff;
}
