@CHARSET "UTF-8";@charset "UTF-8";


/* ヘッダー */
header{
	position:absolute;
	top:0px;
	background: #F48FB1;
	text-align: center;
	height: 90px;
	width: 100%;
	line-height: 45px;
	margin-top: 0px;
	color: white;
}


/* メインコンテンツ */
main{

}



/* フッター */
footer{
	background: #F48FB1;
	clear: both;
	text-align: center;
	height: 100px;
	line-height: 100px;
	margin-top: 100px;
	color: #fff;
}
