@CHARSET "UTF-8";



/* メインコンテンツ */
.home .box{
	top:120px;
	height:300px;
	width: 1000px;
	text-align: center;
	margin-top:100px;
	margin-bottom:100px;
}

.home .box table{
	margin-left: auto;
	margin-right: auto;
}

/*-------------------------------------
	メインコンテンツ
-------------------------------------*/


.box{
	width: 100%;
	height: 600px;
    vertical-align:-50%;
}
.sectionHeader h1{
	position: relative;
    padding-left: 25px;
}


.sectionHeader h1:before {
	position: absolute;
	content: '';
    bottom: -3px;
    left: 0;
    width: 0;
	height: 0;
	border: none;
	border-left: solid 15px transparent;
	border-bottom: solid 15px rgb(119, 195, 223);
}


.sectionHeader h1:after {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 10px;
	width: 100%;
	border-bottom: solid 3px rgb(119, 195, 223);
}

.contBody{
		width:580px;
}


/*-------------------------------------
	table
-------------------------------------*/

table{
    width: 550px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
}

table th,table td {
    padding: 10px;
    padding-left: 30px;
}

table th {
    background: #77c3df;
    vertical-align: middle;
    text-align: left;
    width: 120px;
    overflow: visible;
    position: relative;
    color: #4d4545;
    font-weight: normal;
    font-size: 15px;
}

table th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color:rgba(119, 195, 223,0);
    border-left-color:  #77c3df;
    border-width: 10px;
    margin-top: -10px;
}
td{
	font-size: 13px;
	background:#f8f8f8;
	border-width: 0.3px;
}
td.change{
	text-align: right;
}


/*-------------------------------------
	button
-------------------------------------*/

.btnn{
	margin-top:60px;
	margin-left: 219px;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #353535;
    border: double 2px#77c3df;
    border-radius: 2px;
    transition: .4s;
    width:97px;

    }
/*-------------------------------------
	マウスオン
-------------------------------------*/

a:hover img{opacity:0.8; filter:alpha(opacity=80);}




