@CHARSET "UTF-8";
/*------------------------------------------------------
				↓共通↓
--------------------------------------------------------*/

/* クリア */
.clearfix_kudo:after {
  display: block;
  clear: both;
}

html {
  min-height: 100%;
  position: relative;
}

img{
	width: 200px;
	height: 200px;
	margin: auto;
}

body{
	margin-bottom: 100px;
	height: 100%;
}

/*----------------------------------------------------------------------------------------------------------------------
 * メイン
 * -------------------------------------------------------------------------------------------------------------------*/
#main .title{
	text-align: center;
    font-size: 2rem;
    margin: 40px 0 20px;
}

.message{
	text-align: center;
    font-size: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.border{
	border-top: solid 1px;
	border-color: #F48FB1;
	padding: 1px;
    line-height: 24px;
}

.pro_img{
    width: 24%;
	margin: 10px 0 10px auto;
    float: left;
}
.pro_img a:hover{
	opacity: 0.5;

}

.pro_text{

	float: left;
	position: relative;
	width: 72%;
}

.name{
	line-height: 1.5;
}
.kana{
	padding-left: 76px;
    font-size: 14px;
}

.pro_name{
	font-size: 20px;
}
.name :hover{
	color: #E47911;
    text-decoration: underline;
}

.price_count{
	line-height: 1.5;
	margin: 20px auto 20px auto;
}
.price{
	color: #E91E63;
	font-size: 1.4rem;
}

.count{
	font-size: 15px;
}

.main{
	width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: 100px;
}

.top{
	font-size: 30px;
}
h2{
    text-align: center;
    font-size: 23px;
    padding-top: 20px;
    padding-bottom: 20px;

}


.btn_1 input{
	float: left;
	width: 200px;
	height: 50px;
	margin-right: 100px;
	background: #fff;
	border: 2px solid #2d2d2d;
	font-size: 14px;
	letter-spacing: 0.5px;
	border-radius: 2px;
	color: #000 !important;
	box-shadow: none;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	cursor:pointer;
}

.btn_2 button{
	float:left;
	width: 200px;
	height: 50px;
	border: 2px solid #2d2d2d;
	background-color: #2c2c2c;
	font-size: 14px;
	letter-spacing: 0.5px;
	border-radius: 2px;
	box-shadow: none;
	font-weight: bold;
	color: #000 !important;
	background: #F48FB1;
	text-align: center;
	display: inline-block;
	cursor:pointer;
}

#main .totalprice{
	margin-top: 30px;
	text-align: center;
	margin: 20px;
	font-size: 1.4rem;
	color: #E91E63;
}














